body {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#gameBoard {
    height: 60vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    outline: none;
}

.row, .column {
    height: 20vh;
    width: 20vw;
    outline: 2px solid black;;
    font-size: 18vh;
    text-align: center;
}




