:root {

    --board-lines:solid black 2px;
    --font:'Times New Roman', Times, serif;
}


body {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#gameBoard {
    height: 60vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    outline: none;
    margin: 5vh;
}

h1 {
    font-size: 5vh;
    font-family:var(--font);
}
span {
    font-size: 3vh;
    font-style: italic;
}

.row, .column {
    height: 20vh;
    width: 20vw;
    font-size: 18vh;
    text-align: center;
}

#newGame {
    background-color: whitesmoke;
    border: var(--board-lines);
    font-family:var(--font);
    font-size: 2vh;
    border-radius: 5px;
}

[id="1"] {
    border-bottom: var(--board-lines);
    border-right: var(--board-lines);
}
[id="2"] {
    border-right: var(--board-lines);
}
[id="3"] {
    border-top: var(--board-lines);
    border-right: var(--board-lines);
}
[id="4"] {
    border-bottom: var(--board-lines);
}
[id="6"] {
    border-top: var(--board-lines);
}
[id="7"] {
    border-bottom: var(--board-lines);
    border-left: var(--board-lines);
}
[id="8"] {
    border-left: var(--board-lines);
}
[id="9"] {
    border-top: var(--board-lines);
    border-left: var(--board-lines);
}

